## Data Frame object

Chapter 09 - P. 210

In [1]:
(vX1 <- c(TRUE, FALSE, TRUE))

[1]  TRUE FALSE  TRUE

In [2]:
# Random + Normal distribution (정규분포) 를 3개 추출
(vX2 <- rnorm(3))

[1] -0.2882686  1.1978690 -1.5651483

In [3]:
dDataFrame <- data.frame(logic = vX1, value = vX2)

In [4]:
data.class(dDataFrame)
mode(dDataFrame)

[1] "data.frame"

[1] "list"

In [5]:
lidftest <- data.frame(position = c("top", "down", "top"), value = c(2, 4), tf = c(T, F))

ERROR: Error in data.frame(position = c("top", "down", "top"), value = c(2, 4), : arguments imply differing number of rows: 3, 2

In [6]:
lidftest_loop <- data.frame(position = c("top", "down", "top"), value = c(2), tf = c(T))

### Data Frame object 읽기

In [8]:
# DataFrame[행번호, 열번호]

dDataFrame[1, 2]

[1] -0.2882686

In [9]:
str(dDataFrame)

'data.frame':	3 obs. of  2 variables:
 $ logic: logi  TRUE FALSE TRUE
 $ value: num  -0.288 1.198 -1.565

In [10]:
# DataFrame[행번호, "열이름"]

dDataFrame[1, "value"]

[1] -0.2882686

In [12]:
# DataFrame$속성명(변수명)

dDataFrame$logic
dDataFrame$value

# 변수가 띄어쓰기가 되어 있는 등 불러오는데 문제가 생기면 ' ' 로 감싸준다.

[1]  TRUE FALSE  TRUE

[1] -0.2882686  1.1978690 -1.5651483

In [14]:
# 값을 불러오는데 Frame 모양을 그대로 유지하고 불러오고 싶을 때는

dDataFrame[, "logic", drop = F]

  logic
1  TRUE
2 FALSE
3  TRUE

### mtcars 로 연습하기

In [16]:
data(mtcars)
dCar <- mtcars
vCar6 <- dCar[, 6]

#### Data Frame 구조 확인하기

In [17]:
str(dCar)
str(vCar6)

'data.frame':	32 obs. of  11 variables:
 $ mpg : num  21 21 22.8 21.4 18.7 18.1 14.3 24.4 22.8 19.2 ...
 $ cyl : num  6 6 4 6 8 6 8 4 4 6 ...
 $ disp: num  160 160 108 258 360 ...
 $ hp  : num  110 110 93 110 175 105 245 62 95 123 ...
 $ drat: num  3.9 3.9 3.85 3.08 3.15 2.76 3.21 3.69 3.92 3.92 ...
 $ wt  : num  2.62 2.88 2.32 3.21 3.44 ...
 $ qsec: num  16.5 17 18.6 19.4 17 ...
 $ vs  : num  0 0 1 1 0 1 0 1 1 1 ...
 $ am  : num  1 1 1 0 0 0 0 0 0 0 ...
 $ gear: num  4 4 4 3 3 3 3 4 4 4 ...
 $ carb: num  4 4 1 1 2 1 4 2 2 4 ...
 num [1:32] 2.62 2.88 2.32 3.21 3.44 ...

위에 보면 vCar6 는 Frame 모양이 깨져서 1차원 데이터로 저장이 되었습니다.
그래서 Frame 형식을 유지하기 원한다면

In [20]:
vCar6 <- dCar[, 6, drop = F]
head(vCar6, 2)

              wt
Mazda RX4     2.620
Mazda RX4 Wag 2.875

In [22]:
dWeightDf <- dCar[, c(6, 4)]
data.class(dWeightDf)

[1] "data.frame"

#### Vector 형태로 추출하기 [[ ]]

In [28]:
vWeight <- dCar[["wt"]]
str(vWeight)
data.class(vWeight)

 num [1:32] 2.62 2.88 2.32 3.21 3.44 ...

[1] "numeric"

그럼 2개 이상의 차원을 불러올 때는?

In [24]:
dCar[[c("wt", "hp")]]

ERROR: Error in .subset2(x, i, exact = exact): subscript out of bounds

In [29]:
head(dCar[c("wt", "hp")], 2)

              wt    hp
Mazda RX4     2.620 110
Mazda RX4 Wag 2.875 110

### DataFrame 삭제

[[음의 정수를 써주면 된다.]]

In [32]:
vWeightdoNe <- dCar[-6]
head(vWeightdoNe, 2)

# "wt" 컬럼이 삭제 되었다.

              mpg cyl disp hp  drat qsec  vs am gear carb
Mazda RX4     21  6   160  110 3.9  16.46 0  1  4    4
Mazda RX4 Wag 21  6   160  110 3.9  17.02 0  1  4    4

In [33]:
vWeightdoNe <- vWeightdoNe[, -c(2: 4)]
head(vWeightdoNe, 2)

# 2열 부터 4열 까지 컬럼이 삭제되었다.

              mpg drat qsec  vs am gear carb
Mazda RX4     21  3.9  16.46 0  1  4    4
Mazda RX4 Wag 21  3.9  17.02 0  1  4    4

### 한 개의 레코드 삭제, 여러 개 레코드 삭제

In [34]:
dT <- dCar[-1,]
head(dT, 2)

# Mazda RX4 가 정삭적으로 삭제된 것을 볼 수 있다.

                    mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4 Wag       21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Datsun 710          22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive      21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout   18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
Valiant             18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Duster 360          14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
Merc 240D           24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230            22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Merc 280            19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
Merc 280C           17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
Merc 450SE          16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
Merc 450SL          17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
Merc 450SLC         15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
Fiat 128            32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
Honda Civic         30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
Toyota Corolla      33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
Toyota Corona       21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
Dodge Challenger    15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
AMC Javelin         15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
Camaro Z28          13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
Pontiac Firebird    19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
Fiat X1-9           27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
Porsche 914-2       26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
Lotus Europa        30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
Ford Pantera L      15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4
Ferrari Dino        19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6
Maserati Bora       15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8
Volvo 142E          21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

In [35]:
dTemp <- dCar[-c(5: 15), ]
dTemp

                    mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4           21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag       21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Datsun 710          22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive      21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
Fiat 128            32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
Honda Civic         30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
Toyota Corolla      33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
Toyota Corona       21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
Dodge Challenger    15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
AMC Javelin         15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
Camaro Z28          13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
Pontiac Firebird    19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
Fiat X1-9           27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
Porsche 914-2       26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
Lotus Europa        30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
Ford Pantera L      15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4
Ferrari Dino        19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6
Maserati Bora       15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8
Volvo 142E          21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

### 로직으로 삭제

In [36]:
# 먼저 Data Frame 을 만든다.
df_del <- data.frame(x = c(1, 2, 3, 4, 5), y = c("a", "b", "c", "d", "e"))

  x y
1 1 a
2 2 b
3 3 c
4 4 d
5 5 e

- TRUE : 삭제되지 않는다.
- FALSE : 삭제

In [37]:
df_del[c(TRUE, FALSE, TRUE, FALSE, TRUE), ]

  x y
1 1 a
3 3 c
5 5 e

In [38]:
# x 열의 값이 짝수인 행
df_del[df_del$x %% 2 == 0, ]

  x y
2 2 b
4 4 d

### 수정

1) 하나의 값을 [인덱스] 를 호출해서

In [39]:
head(dCar, 4)

               mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4      21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag  21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710     22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive 21.4 6   258  110 3.08 3.215 19.44 1  0  3    1

In [40]:
dCar[1, 1] <- 90

In [41]:
head(dCar, 4)

               mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4      90.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag  21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710     22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive 21.4 6   258  110 3.08 3.215 19.44 1  0  3    1

### 추가

In [44]:
dCar["New Car", 1] <- 20
tail(dCar, 1)

        mpg cyl disp hp drat wt qsec vs am gear carb
New Car 20  NA  NA   NA NA   NA NA   NA NA NA   NA

#### wt (차의 무게) 가 5보다 큰 차량만

In [48]:
dCar[dCar$wt >  5, ]

                    mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Cadillac Fleetwood  10.4  8  472  205 2.93 5.250 17.98  0  0  3    4
Lincoln Continental 10.4  8  460  215 3.00 5.424 17.82  0  0  3    4
Chrysler Imperial   14.7  8  440  230 3.23 5.345 17.42  0  0  3    4
NA                    NA NA   NA   NA   NA    NA    NA NA NA NA   NA

#### wt 에서 평균보다 큰 값만

In [59]:
dCar[dCar$wt > mean(dCar$wt), ]

                    mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Hornet Sportabout   18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
Valiant             18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Duster 360          14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
Merc 280            19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
Merc 280C           17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
Merc 450SE          16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
Merc 450SL          17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
Merc 450SLC         15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
Dodge Challenger    15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
AMC Javelin         15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
Camaro Z28          13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
Pontiac Firebird    19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
Maserati Bora       15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8

In [61]:
print(mean(dCar$wt))

[1] 3.21725

#### wt 값이 5보다 크면서 am 값이 0 인 행

In [62]:
dCar[dCar$wt > 5 & dCar$am == 0 ,]

                    mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Cadillac Fleetwood  10.4 8   472  205 2.93 5.250 17.98 0  0  3    4
Lincoln Continental 10.4 8   460  215 3.00 5.424 17.82 0  0  3    4
Chrysler Imperial   14.7 8   440  230 3.23 5.345 17.42 0  0  3    4

In [63]:
write.csv(dCar[dCar$wt > 5 & dCar$am == 0 ,], file = "datas/dCar.csv")